@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

/* layout */

body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #382100;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #382100;
}
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

a {
    color: #f85c37;
    border-radius: 8px;
}

a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
    transition: 0.6s ease;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* header */

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-inverse {
    background: #382100;
    border-color: #382100;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #4F2F00;
}

.navbar-inverse .navbar-nav > li a {
    text-transform: uppercase;
}
}

.navbar-inverse .navbar-brand {
    color: #999;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing:  2px;
}

.navbar-brand {
    padding-left: 32px;
}

/* headerwrap */

#headerwrap {
    background: url("../img/main/header_bg2.jpg") no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    background-position: center center;
    min-height: 675px;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
    margin-top: 30px;
    color: black;
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 2px;
}

#headerwrap h1,h2 {
    margin-right: 650px;
    color:  #442200;
    text-align: left;
}

/* Assortiment */

.range {
    padding-top: 35px;
}

/* examples */

#examples {
    background: #e0e0e0;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
}

#examples h1 {
    font-weight: 500;
    letter-spacing: 2px;
}

#examples h4{
font-size: 40px;
}

/* Slider */

wrapper {
    max-width: 850px;
    margin: 0 auto;
}

ul.acco {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 0;
}

ul.acco li {
    width: 115px;
    overflow: hidden;
    padding: 1px 1px 0;
    cursor: pointer;
    display: block;
    -webkit-box-shadow: 1px 1px 15px #7e807e;
    box-shadow: 1px 1px 15px #7e807e;
    -webkit-transition:  all 1.5s;
    -moz-transition:  all 1.5s;
    -ms-transition:  all 1.5s;
    -o-transition:  all 1.5s;
    transition: all 1.5s;

}

ul.acco img {
    width: 450px;
}

ul.acco  li:hover {
    width: 450px;
    -webkit-box-shadow: 1px 2px 15px #424241;
    box-shadow: 1px 2px 15px #424241;
    -webkit-transition:  all 1s;
    -moz-transition:  all 1s;
    -ms-transition:  all 1s;
    -o-transition:  all 1s;
    transition: all 1s;
}

ul.acco li:nth-child(4) {
    width: 450px;
}

ul.acco:hover li:nth-child(4) {
    width: 50px;
}

ul.acco li:nth-child(4):hover {
    width: 450px;
}

ul.acco li:first-child {
    border-radius: 8px 0 0 8px;
}
ul.acco li:last-child {
    border-radius: 0 8px 8px 0;
}

/* Description */

.description {
    padding-bottom: 40px;
}

.h1-description  {
    letter-spacing:  2px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.description-text {
    position: relative;
    background-size: cover; 
    padding: 0;
    border-radius: 8px;
    -webkit-box-shadow: 1px 1px 15px #7e807e;
    box-shadow: 1px 1px 15px #7e807e;
    margin-bottom: 20px;
    background-position: center;
    transition: 0.5s;
    overflow: hidden;
}

.description-img {
    max-width: 100%;
    height: auto;
    transition: 0.5s ease;
}

.description-text:hover img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform:  scale(1.1);
}

.description-text:after {
    position: absolute;
    content: attr(data-text);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    word-wrap: break-word;
    overflow: hidden;
    background-color:rgba(0,0,0,0.7);
    color: #fff;
    padding: 60px 15px;
    opacity: 0;
    transition: 0.4s;
    border-radius: 8px;
}

.description-text:hover:after {
    opacity: 1;
}

.description p {
    line-height: 20px;
    margin-bottom: 60px;
}

/* footerwrap*/

#footerwrap {
    background: url("../img/main/pineapples3.jpg") no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-position: center center;
    min-height: 630px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#footerwrap h1 {
    margin-top: 25px;
    color: black;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

#footerwrap h1,h2 {
    margin-right: 50px;
    color:  #442200;
}

/* footer */

.footer {
    background: #382100;
    position: relative;
    bottom: 0;
    padding-top: 8px;
    width: 100%;
    height: 55px;
}

.social-icon, .navbar-text{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-text p {
    display: inline;
    text-align: left;
    color: #7F7669;    
}

.navbar-text p:hover {
    color: #fff;
    transition: 1s ease;
}
.social-icon li{
    display: inline-block;
    text-align: center;
}

.social-icon a {
    display: block;
    width: 37px;
    height: 37px;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    padding-top: 3px;
}

.social-icon a {
    background: #7F7669; 
    color: #382100; 
}

.social-icon a:hover {
    background: #7F7669; 
    color: #f2f2f2;
    transition: 1s ease; 
}


/* -------SWEETS------- */

/* sweets*/

.sweets {
    background: url("../img/sweets/1.jpg") no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    background-position: center center;
    min-height: 675px;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sweets .sweets_title {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 2px;
    color:  #442200;
}

.sweets_list {
    padding: 45px 150px;
}

.sweets-text {
    position: relative;
    background-size: cover; 
    padding: 0;
    border-radius: 8px;
    -webkit-box-shadow: 1px 1px 15px #7e807e;
    box-shadow: 2px 2px 20px #000;
    margin-bottom: 40px;
    background-position: center;
    transition: 0.5s;
    overflow: hidden;
}

.sweets-img {
    max-width: 100%;
    height: auto;
    transition: 0.5s ease;
}

.sweets-text:hover img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform:  scale(1.1);
    overflow: hidden;
    border-radius: 8px;
}

.sweets-text:after {
    position: absolute;
    content: attr(data-text);
    top: 83%;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: pre-wrap;
    overflow: hidden;
    background-color:rgba(0,0,0,0.7);
    color: #fff;
    padding: 2px 15px;
    transition: 0.4s;
    border-radius: 8px 8px 6px 6px;
}

.sweets-text:hover:after {
    top: 0;
}

.sweets-text:first-line {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}
